.district {
  position: relative;
  text-align: center;
  min-height: 99vh;
  border: 1px solid white;
}

.formArea {
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.districtInput {
  border-radius: 5px;
  height: 2rem;
  padding-left: 5px;
  outline: none;
  border: none;
}

.districtButton {
  margin-left: 5px;
  border-radius: 8px;
  border: none;
  background: green;
  color: white;
  height: 2rem;
  padding: 5px;
  cursor: pointer;
}

.districtButton:hover {
  background: green;
  color: black;
}

.tableArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.districtButtonDelete {
  background: black;
  color: red;
}

.districtButtonDelete:hover {
  background: red;
  color: black;
}

.tdItem {
  min-width: 5rem;
  text-align: center;
}

.minWidth {
  min-width: 8rem;
}
