.form {
  display: flex;
  justify-content: center;
}

.manageSchools {
  padding: 2rem;
}

.select {
  background-color: black;
  color: black;
  margin-left: 1rem;
  margin-botton: 1rem;
  width: 30rem;
}

.actions {
  margin: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.actionButton {
  background-color: green;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  color: black;
}

.actionButton:hover {
  background-color: darkgreen;
  cursor: pointer;
  color: white;
}

.bg-blue {
  background-color: #2668c4;
}

.bg-blue:hover {
  background-color: #1b5dab;
}

.bg-danger {
  background-color: #c54b39;
}

.bg-danger:hover {
  background-color: #a13c2c;
}

.schoolTable {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-height: 70vh;
  overflow-y: scroll;
}

.inputArea {
  margin: 2rem;
}

.inputBlock {
  margin: 1rem;
}

.finalActionArea {
  margin: 1rem;
  margin-top: 2rem;
}

.viewSchool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 60%;
  margin: auto;
}
